body{
background-color: white;
font-family: Helvetica;
font-size: 22px;
color: seashell;
opacity: 0.9;
height: 1200px;
width: 2141;
}

header{
  display: flex;
  flex-direction: row;
  position: fixed;
  padding-left: 10px;
  height: 69px;
  width: 1200px;
  border-bottom: 5px solid seashell;
  background-color: black;
}

  .logo{
    display:flex;
    flex-direction: row;
    flex-grow: 1;
    color: red;
  }

nav span{
  /*display: inline-block;*/
  flex-direction: row;
  align-self: flex-end;
  align-self: center;
  color: red;
}

.mainContainer{
  display:flex;
  flex-direction: column;
  margin-top: 0;
  width: 1200px;
  justify-content: center;
}


.mainMissionContainer{
  display: flex;
  background-image: url("../resources/images/img-bedford-bizarre");
  /*background-color: lightyellow;*/
  height: 700px;
  width: 1200px;
  align-items: center;
}

.mission background-image{
  /*background-image: url("../resources/images/img-bedford-bizarre");*/
  /*display: flex;*/
  height: 700px;
  width 1000px;
}

.missionStatement{
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 1200px;
  background-color: black;
  justify-content: center;
  align-content: space-between;
}

.missionStatement h2, h4{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  color: white;
}

footer{
  background-color: black;
  color:wihite;
}
